 // Variables
 @import "variables";

 @import "node_modules/bulma/bulma";
 @import "node_modules/font-awesome/css/font-awesome";
 @import "node_modules/c3/c3";
 @import "node_modules/codemirror/lib/codemirror";
 @import "node_modules/codemirror-spell-checker/dist/spell-checker.min";

 //body {
 //  padding-top: 50px;
 //}

 .CodeMirror {
  height: auto;
 }

 div.CodeMirror span.CodeMirror-matchingbracket{
  background-color:lightgray;
  color: green;
 }

 .photo-list {
   margin-bottom: 25px;
 }

 .photo-list .icon {
  line-height: 24px;
 }

 a.panel-block.is-active {
  color: black;
  font-weight: bold;
 }
